@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  code {
    @apply rounded-lg my-3;
  }
}

@layer components {
  p a,
  li a {
    @apply underline hover:text-gray-400 underline-offset-8 decoration-2 decoration-gray-400;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-wittgenstein);
}

h1,
h2,
h3 {
  font-family: var(--font-roboto);
}
